.employee-footer{
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #22333B;
    width: 100%;
    z-index: 10;
}

.text_acompany {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer__widget h6 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer__widget ul li a {
    color: #b7b7b7;
    font-size: 15px;
}